html, body {
    min-height: 100%;
}

body {
    margin: 0px;
    background-color: #F9FAFB;
}

.my-container {
    padding-top: 100px;
}

.my-content {
    background-color: #F8FBF9 !important;
}

.in-header {
    font-size: 15px;
}

.ui.celled.grid.p_rounded {
    border-radius: 3px;
    border: 1px solid rgba(34, 36, 38, .15);
    box-shadow: none;
}

h1, h2, h3 {
    overflow: visible !important;
}

.full.height {
    padding: 60px 0;
}

.ui.inverted.vertical.footer.segment {
    padding: 60px 0;
}

.pusher {
    min-height:calc(100% - 166px);
}

#footer {
    height: 166px;
}